*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;
}
.nav{
    display:flex;
    width:100%;
    background: rgb(97,94,94);
    position :relative;
    justify-content: space-between;
    text-align:center ;
    padding:15px 20px;
}
.icon{
    color:#ffff;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}
.ol{
    color:#ffff;
    display :flex;
    list-style:none;
    margin:auto 0;
}
.ol li{
    margin :0 2px;
}
.ol li a{
    color:#ffff;
    font-size:20px;
    text-decoration:none;
    text-transform:capitalize;
    letter-spacing: 1px;
    padding :5px 15px;

}

.ol li :hover a{
     background: #fff;
     color:#0a5071
}
/* .search  {
    display:flex;
    align-items: center;
    
}
.search input {
    border :2px solid #0a737f;
    height:30px;
} */
 .search{
    display:flex;
    margin :auto 0;
    height:35px;
    line-height:35px;
    
 }
 .search input{
    border:none;
    outline:none;
    background: #fff;
    height:100%;
    padding: 0 20px;
    font-size:15px;
    width:350px;
 }
.search i{
    color:#0a5071;
    font-size:20px;
    background: #fff;
    height:100%;
    padding:8px;
    position:relative;
    cursor:pointer;
    z-index: 1;
}
.search i:hover{
    color:#ffff;
}
.search i::after{
    height: 100%;
    width:0%;
    content: '';
    background: #ff003c;
    position:absolute;
    top :0;
    right:0;
    z-index:-1;
    transition: 0.3s;
}
.search i:hover::after{
    width:100%
}
.bar{
    position:absolute;
    margin:auto;
    display:none;
}
.bar span{
    position:absolute;
    color:#fff;
    font-size:35px;
}
input[type="checkbox"]{
    -webkit-appearance:none;
    display: none;
}
@media screen and(max-width:1250px){
    .nav{
        display:block;
        padding :0;
    }
}
